#container{
    height:100%
}
      
#bd-subwayInfo {
    height: 200px;
    width: 275px;
}
#bd-subwayTitle{
    text-align: center;
    border-bottom: 1px solid #eee;
}

#subwayContent {
    height:120px;
    margin: 5px 10px;
    overflow-y: auto;
}
#simpleComment > p {
    margin: 0;
    width: 250px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #ccc;
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
}
#simpleComment > p > a {
    font-size: 14px;
}
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: wheat;
}